*.iml
*.eml
*.ipr
*.iws
.idea
*.diff
.settings
.DS_Store
logs/*
*.sqlite*
classes/*
out
gen
target
local.properties
bin
*Log4JConfigurator*Override.java
pushforreview.sh
prepareforreview.sh
install.sh
gen-external-apklibs
KeyStore/
build.sh
build_activecloaked_apk.sh
tmp/
CloudTvrApp/proguard_logs
CloudTvrApp/build/
build/
.gradle/
*.orig